* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1 {
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 900px;
    margin: auto;
}

.inputs {
    display: flex;
    flex-direction: column;
}

#title {
    width: 65%;
    height: 25px;
    align-self: center;
    margin: 20px;
}

#text {
    min-width: 65%;
    max-width: 65%;
    height: 200px;
    align-self: center;
    margin: 20px;
}

#button {
    width: 65%;
    height: 30px;
    align-self: center;
    background-color: pink;
    color: white;
    border-style: none;
    border-radius: 15px;
}

#button:hover {
    border: 3px solid grey;
}

#button:active {
    background-color: palevioletred;
}

::placeholder {
    font-family: sans-serif;
    padding: 2px;
}

#output {
    align-self: center;
}

h2 {
    padding-bottom: 10px;
    text-align: center;
    color: pink;
}

.post {
    margin-top: 40px;
} 


